<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261226239358-mirlq5nkol7gj3a1qh1i7so1uhp4nr7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261226239358-mirlq5nkol7gj3a1qh1i7so1uhp4nr7m</string>
	<key>API_KEY</key>
	<string>AIzaSyDBMQXcjtNiWCoAxdQdyqSeEzHxz5PZmT4</string>
	<key>GCM_SENDER_ID</key>
	<string>261226239358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftCourse.NewProject</string>
	<key>PROJECT_ID</key>
	<string>avitoproject-dd877</string>
	<key>STORAGE_BUCKET</key>
	<string>avitoproject-dd877.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261226239358:ios:00512169ec8efb00f6cf2f</string>
</dict>
</plist>